
    body {
        padding: 0; /* Gets rid of the automatic padding */
        margin: 0;	/*	on HTML documents */
        font-family: Lucida Grande, Helvetica, Arial, sans-serif;
        font-size: 12px;
        background-color:#f2f2f2;
        padding-top:70px;
    }
    #navigation {
          position: fixed;
          top: 0;
          width: 100%;
          color: #ffffff;
          height: 35px;
          text-align: center;
          padding-top: 15px;
          /* Adds shadow to the bottom of the bar */
          -webkit-box-shadow: 0px 0px 8px 0px #000000;
          -moz-box-shadow: 0px 0px 8px 0px #000000;
          box-shadow: 0px 0px 8px 0px #000000;
          /* Adds the transparent background */
          background-color: /*rgba(1, 1, 1, 0.8);*/  rgb(102, 102, 102);
     /*   background-color: dodgerblue; */
          color: rgba(1, 1, 1, 0.8);
          z-index:2;
    }   
     #navigation #mainLinks a {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        text-decoration: none;
        border:solid 1px transparent;
    }

    #navigation #left-half {
        float:left;
        margin-left:20px;
    }
    #navigation #right-half {
        float:right;
        margin-right:5px; 
        margin-top:2px;
    }
    #header1 {
        font-size:16px;
        color:white;
        line-height: 1%;
    }

    #navigation #mainLinks a:hover {
    /*	border: 1px solid white; */
        cursor: pointer;
        padding-top:17px;
        padding-bottom:15px; 
        background-color:black;
        color:white;
    }

#footer {
  display: table;
  height: 100%;
  width: 100%;
  background-color:black;
  color:white;
}
#footer div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 33.3%;
  padding: 1rem;
}

#logos #facebook {
    width:10%;
    height:15%;
} 
#logos #gmail {
    width:10%;
    height:15%;
}

#footer .right-half a {
    text-decoration: none;
    color:lightskyblue;
}
#footer .right-half a:hover {
    color:white;
}
#footer .right-half ul {
    list-style-type:none;
    margin:auto;
}
#socialMediaLinks {
    text-align: center;
}
#socialMediaLinks #logos #facebook {
 /*   width:12%;
    height:8%; */
    width:30px;
} 
#socialMediaLinks #logos #gmail {
  /*  width:12%;
    height:8%; */
    width:30px;
} 

#navigation .dropdownButton {
    font-size: 14px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px; 
    color: white;
    text-decoration: none;
    border:solid 1px transparent;
    background-color:transparent;
}

#navigation .dropdownButton:hover{
    cursor: pointer;
    padding-top:17px;
    padding-bottom:15px;         
    background-color:black;
}

#navigation .dropdown {
    position: relative;
    display: inline-block; 
}

#navigation .dropdown-content {
    margin-top:10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    width:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:black;
}

#navigation .dropdown-content a {
    font-size: 13px;
    color: black;
    padding: 12px 10px; 
    text-decoration: none;

   display: block;
}

#navigation .dropdown-content a:hover {
    background-color: black;
    color:white;
}

#navigation .show {
    display:block;
}

#textNode {
    color:white;
    font-size:15px;
    padding-right:5px;
}
#textNode:hover {
    cursor:pointer;
    color:#fbc900;          /*NOT SURE WHICH COLOR IS BEST */
}

.headerRightHalf2 {
    display: none;
}


#navigationDropDown {
    display:none;
          position: fixed;
          top: 0;
          width: 100%;
          color: #ffffff;
          height: 35px;
          text-align: center;
          padding-top: 70px;
          /* Adds shadow to the bottom of the bar */
          -webkit-box-shadow: 0px 0px 8px 0px #000000;
          -moz-box-shadow: 0px 0px 8px 0px #000000;
          box-shadow: 0px 0px 8px 0px #000000;
          /* Adds the transparent background */
          background-color: /*rgba(1, 1, 1, 0.8);*/  rgb(102, 102, 102);
     /*   background-color: dodgerblue; */
          color: rgba(1, 1, 1, 0.8);
    }   
     #navigationDropDown #mainLinks2 a {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        text-decoration: none;
        border:solid 1px transparent;
    }

    #navigationDropDown #right-half {
        float:right;
        margin-right:5px; 
        margin-top:2px;
    }

    #navigationDropDown #mainLinks2 a:hover {
    /*	border: 1px solid white; */
        cursor: pointer;
        padding-top:17px;
        padding-bottom:15px; 
        background-color:black;
        color:white;
    }

#navigationDropDown .dropdownButton2 {
    font-size: 14px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px; 
    color: white;
    text-decoration: none;
    border:solid 1px transparent;
    background-color:transparent;
}

#navigationDropDown .dropdownButton2:hover{
    cursor: pointer;
    padding-top:17px;
    padding-bottom:15px;         
    background-color:black;
}

#navigationDropDown .dropdown2 {
    position: relative;
    display: inline-block; 
}

#navigationDropDown .dropdown-content2 {
    margin-top:10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    width:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:black;
}

#navigationDropDown .dropdown-content2 a {
    font-size: 13px;
    color: black;
    padding: 12px 10px; 
    text-decoration: none;
   display: block;
}

#navigationDropDown .dropdown-content2 a:hover {
    background-color: black;
    color:white;
}

#navigationDropDown .show {
    display:block;
}

#course1 {
  display: table;
  height: 100%;
  width: 100%;
}

#course1 div {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 1rem; 
}
#course1 #course1left-half {
    text-align: center;
}

#course1 #course1right-half {
  font-size:15px;
}
#course1 #course1left-half img {
    width:450px;
    height:400px;
}

#course1 #course1right-half p {
    line-height: 200%;
    text-align:justify;
    margin-right:10%;
}
#course2 {
  display: table;
  height: 100%;
  width: 100%;
}

#course2 div {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 1rem; 
}
#course2 #course2left-half {
    text-align: center;
}

#course2 #course2right-half {
  font-size:15px;
}
#course2 #course2left-half img {
    width:450px;
    height:400px;
}

#course2 #course2right-half p {
    line-height: 200%;
    margin-right:10%;
    text-align:justify;
}

#course2 #course2right-half a {
    text-align:left;
    padding:0px;
    margin:0px;
    color:royalblue;
}
#course2 #course2right-half a:hover {
    color:darkred;
}
#course1 #course1right-half a {
    text-align:left;
    padding:0px;
    margin:0px;
    color:royalblue;
}
#course1 #course1right-half a:hover {
    color:darkred;
}

 

@media screen and (min-width:516px) and (max-width:999px) {

}


@media screen and (min-width:480px) and (max-width: 515px) {
    #navigationDropDown {
        display:none;
    }
    #navigationDropDown #mainLinks2 a {
        padding-left: 9px;
        padding-right: 9px;
     /*   margin-right:20px; */
    }
    #navigationDropDown .dropdownButton2 {
    padding-left: 9px;
    padding-right: 9px; 
     /*   margin-right:20px; */
    }
    #navigationDropDown .dropdownButton2:hover{
    padding-top:20px;
    padding-bottom:15px;         
    }
     #navigationDropDown #mainLinks2 a:hover {
        padding-top:20px;
        padding-bottom:15px; 
    }
    #navigationDropDown #right-half {
        float:right;
        margin-right:55px; 
        margin-top:2px;
        text-align: center;
    }

}

@media screen and (max-width: 479px) {
    #navigationDropDown {
        display:none;
    }
    #navigationDropDown #mainLinks2 a {
        padding-left: 8px;
        padding-right: 8px;
    }
    #navigationDropDown .dropdownButton2 {
    padding-left: 8px;
    padding-right: 8px; 
}
    #navigationDropDown .dropdownButton2:hover{
    padding-top:20px;
    padding-bottom:15px;         
}
     #navigationDropDown #mainLinks2 a:hover {
        padding-top:20px;
        padding-bottom:15px; 
    }
    #navigationDropDown #right-half {
        float:right;
        margin-right:20px; 
        margin-top:2px;
    }
} 